@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  :root {
    --light: theme(colors.zinc.900);
    --dark: white;
    --surface: theme(colors.zinc.100);
    --surface-2: theme(colors.zinc.200);
    --primary: theme(colors.violet.300);
    --success: theme(colors.green.300);
    --warning: theme(colors.yellow.300);
    --danger: theme(colors.red.300);
    --sheen: #c4b5fd50;
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --light: theme(colors.zinc.100);
      --dark: black;
      --surface: theme(colors.zinc.900);
      --surface-2: theme(colors.zinc.800);
      --primary: theme(colors.violet.600);
      --success: theme(colors.green.600);
      --warning: theme(colors.yellow.600);
      --danger: theme(colors.red.600);
      --sheen: #7c3aed50;
    }
  }

  * {
    font-size: 1rem;
    font-weight: 400;
    font-family: var(--font-roboto);
    color: var(--light);
  }

  body {
    background-color: var(--primary);
  }

  /* Scrollbar width */
  ::-webkit-scrollbar {
    @apply bg-transparent w-2 h-2;
  }

  /* Scrollbar Handle */
  ::-webkit-scrollbar-thumb {
    @apply bg-primary cursor-default;
  }

}

@layer components {
  .btn {
    @apply
    relative px-4 py-2 flex items-center justify-center gap-2 w-fit overflow-hidden
    disabled:opacity-50 disabled:hover:opacity-50 disabled:cursor-default
    transition-all duration-300 ease-in-out rounded-full cursor-pointer select-none
    [&_span]:text-light [&_span]:font-[600] [&_span]:text-nowrap [&_span]:text-sm [&_span]:capitalize
    [&_svg]:size-4 [&_svg]:stroke-light active:scale-90 disabled:active:scale-100;
  }
  .btn-circle {
    @apply
    relative p-2 flex items-center justify-center w-fit overflow-hidden aspect-square
    disabled:opacity-50 disabled:hover:opacity-50 disabled:cursor-default
    transition-all duration-300 ease-in-out rounded-full cursor-pointer select-none
    [&_svg]:size-4 [&_svg]:stroke-light active:scale-90 disabled:active:scale-100;
  }
  .btn-primary {
    @apply bg-primary hover:opacity-70;
  }
  .btn-surface {
    @apply bg-surface hover:bg-surface-2 disabled:hover:bg-surface;
  }
  .btn-reverse {
    @apply bg-light hover:opacity-70 [&_span]:text-dark [&_svg]:stroke-dark;
  }
  .btn-danger {
    @apply bg-danger hover:opacity-70;
  }
  .btn-warning {
    @apply bg-warning hover:opacity-70;
  }
  .btn-success {
    @apply bg-success hover:opacity-70;
  }
  .textarea {
    @apply
    bg-dark caret-primary p-4 ring-2 ring-surface-2 rounded-md w-full
    outline-none resize-none border-none overflow-hidden
    placeholder:opacity-50 placeholder:text-light
    focus:ring-primary duration-300 ease-in-out transition-shadow
  }
  .input {
    @apply
    bg-dark caret-primary px-4 py-2 ring-2 ring-surface-2 rounded-full w-full
    outline-none border-none overflow-hidden
    placeholder:opacity-50 placeholder:text-light
    focus:ring-primary duration-300 ease-in-out transition-shadow
  }
}

@layer utilities {
  .see {
    @apply border-danger border;
  }
  .orbitron {
    font-family: var(--font-orbitron);
    font-weight: 900;
  }
}