@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  :root {
    --light: theme(colors.slate.950);
    --dark: theme(colors.slate.50);
    --surface: theme(colors.slate.200);
    --surface-hover: theme(colors.gray.300);
    --primary: theme(colors.violet.300);
    --success: theme(colors.green.300);
    --warning: theme(colors.yellow.300);
    --danger: theme(colors.red.300);
    --sheen: #c4b5fd50;
  }

  @media (prefers-color-scheme: dark-) {
    :root {
      --light: theme(colors.gray.50);
      --dark: theme(colors.gray.950);
      --surface: theme(colors.gray.900);
      --surface-hover: theme(colors.gray.800);
      --primary: theme(colors.violet.600);
      --success: theme(colors.green.600);
      --warning: theme(colors.yellow.600);
      --danger: theme(colors.red.600);
      --sheen: #7c3aed50;
    }
  }

  * {
    font-size: 1em;
    font-weight: 400;
    font-family: var(--font-roboto);
    color: var(--light);
  }

  body {
    background-color: var(--primary);
  }

  /* Scrollbar width */
  ::-webkit-scrollbar {
    @apply bg-transparent w-2 h-2;
  }

  /* Scrollbar Handle */
  ::-webkit-scrollbar-thumb {
    @apply bg-primary cursor-default;
  }

}

@layer utilities {
  .see {
    @apply border-danger border;
  }
  .orbitron {
    font-family: var(--font-orbitron);
    font-weight: 900;
  }
}